.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  background-color: rgb(89, 116, 206);
  color: #fff;
}

.subscribe-text {
  width: 35%;
}

.subscribe-text h1 {
  margin-bottom: 1rem;
}

input {
  margin-bottom: 1rem;
}
