.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  background-color: #575989;
  color: #fff;
}

.subcribe-text__heading {
  font-size: 1.8rem;
}

.subscribe-text {
  width: 40%;
}

.subscribe-text h1 {
  margin-bottom: 1rem;
}

.subcribe-text__sub {
  color: #dbdfee;
}

input {
  margin-bottom: 1rem;
}

/* Media Query */

@media screen and (max-width: 400px) {
  .subscribe {
    flex-direction: column;
  }

  .subscribe-text {
    width: 100%;
  }

  .subscribe-input input {
    min-width: 300px !important;
  }
}
