nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}
.nav__list {
  display: flex;
  list-style-type: none;
}

.nav__list li {
  margin-inline: 1rem;
}

.nav__list li a {
  padding: 1rem 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #63626f;
}

/* Media Query */

@media screen and (max-width: 400px) {
  nav {
    padding: 0.5rem;
  }

  nav img {
    width: 5rem;
    display: block;
  }

  .nav__list li {
    margin-inline: 0;
  }

  .nav__list li a {
    font-size: 0.8rem;
  }
}
