.footer {
  background-color: #07043b;
  color: #dedef8;
}

.wrapper {
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
}

.wrapper ul {
  list-style-type: none;
}

.wrapper ul li {
  margin-bottom: 1.5rem;
}

.wrapper ul li a {
  color: #dedef8;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.wrapper ul li a:hover {
  color: #6975c1;
}

.wrapper span {
  padding-left: 1rem;
}

.footer-contact p {
  margin-bottom: 1rem;
}

.social {
  display: flex;
  gap: 1rem;
}

.social i {
  border: 1px solid white;
  padding: 0.5rem;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social .fa-facebook-f {
  padding: 0.5rem 0.7rem;
}

.social i:hover {
  color: #6975c1;
}

/* Media Query */

@media screen and (max-width: 400px) {
  .wrapper {
    flex-direction: column;
  }

  .subscribe-text {
    width: 100%;
  }

  .footer-contact,
  .link1,
  .link2 {
    margin-bottom: 2rem;
  }

  .social {
    justify-content: center;
  }
}
