.stayProductive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-image: url(../../images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.stayProductive-text p {
  font-weight: 500;
}

.stayProductive-text h1 {
  margin-bottom: 2rem;
}

.stayProductive-text h1 + p {
  margin-bottom: 1rem;
}

.stayProductive span {
  display: inline-flex;
  align-items: center;
  padding-bottom: 0.2rem;
  padding-top: 1rem;
  border-bottom: 2px solid #87bdb2;
}
.stayProductive span img {
  padding-left: 0.3rem;
}

.stayProductive a {
  color: #87bdb2;
  text-decoration: none;
}

.stayProductive-img img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.testimonial {
  font-size: 0.8rem;
  word-spacing: 0.3rem;
  width: 60%;
  padding: 1.3rem;
  padding-top: 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 1px 4px 5px 4px #ddd;
}
.testimonial img {
  width: 1rem;
}
.testimonial-1 {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-block: 1rem;
}

.testimonial-1 img {
  width: 20%;
  height: 20%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

/* Media Query */

@media screen and (max-width: 400px) {
  .stayProductive {
    flex-direction: column;
  }

  .stayProductive span {
    justify-content: center;
  }
  .testimonial {
    width: 100%;
    word-spacing: normal;
    margin-block: 5rem;
  }
}
